Weather Sorter Sub-workflow.json
{
  "name": "Weather Sorter Sub-workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Capital\": \"Tbilisi\",\n  \"Temperature\": 2.5\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [272, 352]
    },
    {
      "parameters": {
        "jsCode": "// 1. Group all cities into their categories\nconst categories = {\n  \"< 0 - Freezing\": [],\n  \"0 - 9.9 - Cold\": [],\n  \"10 - 14.9 - Cool\": [],\n  \"15 - 19.9 - Mil\": [],\n  \"20 - 24.9 - Warm\": [],\n  \"25 - 29.9 - Hot\": [],\n  \">= 30 - Very Hot\": []\n};\n\n// Sort every input item into the right category bucket\nfor (const item of $input.all()) {\n  const temp = item.json.Temperature;\n  const city = item.json.Capital;\n  const display = `${city}, ${temp}°C`;\n  \n  if (temp < 0) categories[\"< 0 - Freezing\"].push(display);\n  else if (temp < 10) categories[\"0 - 9.9 - Cold\"].push(display);\n  else if (temp < 15) categories[\"10 - 14.9 - Cool\"].push(display);\n  else if (temp < 20) categories[\"15 - 19.9 - Mil\"].push(display);\n  else if (temp < 25) categories[\"20 - 24.9 - Warm\"].push(display);\n  else if (temp < 30) categories[\"25 - 29.9 - Hot\"].push(display);\n  else categories[\">= 30 - Very Hot\"].push(display);\n}\n\n// 2. Find which category has the most cities (to know how many rows to make)\nconst maxLength = Math.max(...Object.values(categories).map(arr => arr.length));\n\n// 3. Create a clean list of rows\nconst rows = [];\nfor (let i = 0; i < maxLength; i++) {\n  let row = {};\n  for (const [header, cities] of Object.entries(categories)) {\n    // Put the city in the column if it exists, otherwise leave it empty\n    row[header] = cities[i] || \"\"; \n  }\n  rows.push(row);\n}\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [816, 352],
      "id": "e8d08f23-e0a1-4f80-8b5b-46ac8cc4719d",
      "name": "Determine Column"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_CATEGORY_SPREADSHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "< 0 - Freezing", "displayName": "< 0 - Freezing", "type": "string" },
            { "id": "0 - 9.9 - Cold", "displayName": "0 - 9.9 - Cold", "type": "string" },
            { "id": "10 - 14.9 - Cool", "displayName": "10 - 14.9 - Cool", "type": "string" },
            { "id": "15 - 19.9 - Mil", "displayName": "15 - 19.9 - Mil", "type": "string" },
            { "id": "20 - 24.9 - Warm", "displayName": "20 - 24.9 - Warm", "type": "string" },
            { "id": "25 - 29.9 - Hot", "displayName": "25 - 29.9 - Hot", "type": "string" },
            { "id": ">= 30 - Very Hot", "displayName": ">= 30 - Very Hot", "type": "string" }
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1040, 352],
      "id": "2f1dc838-6ba7-44fc-9851-56861980b0b2",
      "name": "Append to Category Column",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Determine Column", "type": "main", "index": 0 }]] },
    "Determine Column": { "main": [[{ "node": "Append to Category Column", "type": "main", "index": 0 }]] }
  }
}